body{
    background-color: #818181;
}
body, html {
    height: 100%;
    margin: 0;
    font-family: Comic;
  }
/* Style tab links */
.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 24.37%;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
  }
.tablink:hover {
    background-color: #777;
  }
#logo{
    float: left;
    width: 37px;
    padding: 5px 5px;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    background-color: #555
}
.tabcontent{
    display: none;
    align-content: center;
    float: left;
    border: none;
    width: 100%;
    border-left: none;
}
.active {
    background-color: #4CAF50;
    color: white;
}
.reviewer {
    background-color: antiquewhite;
    text-align: center
}